body {
    background-color: rgb(51, 51, 51);
}

.screen {
    margin: auto;
    text-align: right;
    height: 100%;
    background-color: rgb(22, 22, 22);
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: right;
    max-width: 800px;
}

.screenText {
    padding-right: 30px;
    color: white;
    top: 50%;
    left: 50%;
    font-size: 50px;
    user-select: none;
    font-family: Montserrat;
    overflow: none;
}

.pad {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px auto auto;
    cursor: default;
    margin: 0 auto;
    height: 1000px;
    width: 800px;
    background-color: rgb(34, 34, 34);
    border: rgb(102, 6, 89) 2px solid;
}

/* Buttons */
button {
    user-select: none;
    background-color: rgb(46, 46, 46);
    color: rgb(167, 165, 212);
    font-weight: 600;
    border: none;
}
button:hover {
    background-color:rgb(36, 36, 36)
}
button:focus {
    outline: none;
}

.numberButton {
    color: white;
    font-weight: 700;
}

/* Buttons Grid Area */
.screen {
    grid-area: 1/1/1/5;
    width: 100%;
}

#button0 {
    grid-area: 5/2/5/3;
}

#percentageButton {
    grid-area: 2/3/2/4;
}

#divideButton {
    grid-area: 2/4/2/5;
}

#asteriskButton {
    grid-area: 3/4/3/5;
}

#lessButton {
    grid-area: 4/4/4/5;
}

#plusButton {
    grid-area: 5/4/5/5;
}

#equalsButton {
    grid-area: 6/4/6/5;
}

#dotButton {
    grid-area: 6/3/6/4;
}

#button0 {
    grid-area: 6/2/6/3;
}

#deleteButton {
    font-size: 20px;
}